{# ======= ASOCIACIONES ======= #}
<section class="services">
  <div class="container">
    <div class="section-title">
      <h2>Asociaciones Internacionales de Gatos</h2>
      <p> Las asociaciones internacionales de gatos se dedican a promover, proteger y reconocer las distintas <strong>razas felinas</strong> en todo el mundo. <br> Las <strong>4 principales asocianes</strong> son las siguientes: </p>
    </div>
    <div class="row">
     {#  <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
        <div class="icon-box icon-box-purple">
          <div class="icon">
            <i class="icon-ok-circled"></i>
          </div>
          <h4 class="title">
            <a href="{{ site_url }}/blog-sobre-gatos/tica-la-asociacion-internacional-de-gatos/">TICA </a>
          </h4>
          <p class="description">
            <strong>The International Cat Association</strong> (USA) Principal asociación de gatos que clasifica más de <strong>70</strong> razas de gatos.
          </p>
        </div>
      </div> #}
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box icon-box-purple">
          <div class="icon">
            <i class="icon-ok-circled"></i>
          </div>
          <h4 class="title">
            <a href="{{ site_url }}/blog-sobre-gatos/acfa-la-asociacion-de-gatos-americanos/">ACFA</a>
          </h4>
          <p class="description">
            <strong>Asociación de Criadores de Gatos de América (USA)</strong>. Promueve competencias de exhibición, categoriza más de <strong>60</strong> razas de gatos.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box icon-box-blue">
          <div class="icon">
            <i class="icon-ok-circled"></i>
          </div>
          <h4 class="title">
            <a href="{{ site_url }}/blog-sobre-gatos/acfa-la-asociacion-de-gatos-americanos/">ACFA</a>
          </h4>
          <p class="description">
            <strong>Asociación de Criadores de Gatos de América (USA)</strong>. Promueve competencias de exhibición, categoriza más de <strong>60</strong> razas de gatos.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box icon-box-green">
          <div class="icon">
            <i class="icon-ok-circled"></i>
          </div>
          <h4 class="title">
            <a href="{{ site_url }}/blog-sobre-gatos/fife-la-federacion-internacional-felina/">FIFe</a>
          </h4>
          <p class="description">
            <strong>Federación Internacional Felina </strong> (Luxemburgo) es una organización global, ordenanddo más de <strong>50</strong> razas de gatos.
          </p> {# 
					<a href="#" class="btn btn-general">Nosotros</a> #}
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="icon-box icon-box-pink">
          <div class="icon">
            <i class="icon-ok-circled"></i>
          </div>
          <h4 class="title">
            <a href="{{ site_url }}/blog-sobre-gatos/cfa-la-asociacion-de-gatos-felinos-en-los-estados-unidos/">CFA</a>
          </h4>
          <p class="description">
            <strong>Asociación Felina de América</strong> (USA) Cataloga más de <strong>40</strong> razas de gatos.
          </p> {# 
					<a href="#" class="btn btn-general">Nosotros</a> #}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <a href="{{ site_url }}/asociaciones-internacionales-de-gatos" class="btn btn-general">Conoce más...</a>
      </div>
    </div>
  </div>
</section>
  {# ======= ASOCIACIONES ======= #}