<div class="card mb-4">
  <h2 class="card-header">Peso</h2>
  <div class="card-body">
    <div class="row wrap-bolitas d-flex justify-content-start align-items-center">
      <div style="width:60px; height: 60px" class="d-flex me-3 flex-column justify-content-center align-items-center border pt-2 pb-2 pe-3 ps-3 rounded-circle {{ peso == '1' ? 'clase-active' : '' }}">
          <span>Kg</span>
          <span>3-5</span>
      </div>
      <div style="width:70px; height: 70px" class="d-flex me-3 flex-column justify-content-center align-items-center border pt-2 pb-2 pe-3 ps-3 rounded-circle {{ peso == '2' ? 'clase-active' : '' }}">
          <span>Kg</span>
          <span>5-6</span>
      </div>
      <div style="width:80px; height: 80px" class="d-flex me-3 flex-column justify-content-center align-items-center border pt-2 pb-2 pe-3 ps-3 rounded-circle {{ peso == '3' ? 'clase-active' : '' }}">
          <span>Kg</span>
          <span>6-8</span>
      </div>
      <div style="width:90px; height: 90px" class="d-flex me-3 flex-column justify-content-center align-items-center border pt-2 pb-2 pe-3 ps-3 rounded-circle {{ peso == '4' ? 'clase-active' : '' }}">
          <span>Kg</span>
          <span>8-10</span>
      </div>
      <div style="width:100px; height: 100px" class="d-flex me-3 flex-column justify-content-center align-items-center border pt-2 pb-2 pe-3 ps-3 rounded-circle {{ peso == '5' ? 'clase-active' : '' }}">
          <span>Kg</span>
          <span>10-14</span>
      </div>
    </div>
  </div>
</div>