<div id="main_claim_content" class="col-sm-7">
	<h1>{{HeaderText}}</h1>
	<h2>{{Para1}}</h2>
	<div class="row main_rastreator_compare">
		<div class="col-sm-12 car_insurance">
			<p class="hidden-xs">{{Para2}}</p>
			<h3 class="hidden-xs">Contratar el seguro de tu auto al mejor precio nunca ha sido tan sencillo.</h3>
			<a class="btn btn-success" title="{{Button1}}" href="{{HyperLinkURL}}">{{Button1}}</a>
		</div>
	</div>
</div>
<div class="col-sm-5 banner-dog">
	<a href="{{HyperLinkURL}}">
		<img width="310" height="242" src="{{ImageURL}}" alt="Seguros de Auto">
	</a>
</div>
